.input--textarea {
	width: 100%;
	margin-bottom: 1em;
	padding-top: 1em;
	border: 0 none;
	background: transparent none;
	line-height: 2;
	resize: none;

	&:focus {
		outline: 0 none;
	}
}
.input--txt {
	border: 1px solid $color-tertiary;
	padding: .5em;
	color: #434343;
	&:focus {
		outline: 0 none;
		border-color: $color-primary;
	}
}

.note__title {
	.input--txt {
		display: block;
		width: 100%;
	}
	@media all and (min-width: 42em) {
		width: 75%;
		float: left;
		.input--txt {
			display: inline;
			width: auto;
			min-width: 18em;
			margin-left: 1em;
		}
	}
}
.note__title + .btn-group {
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 1em;
	border: 0 none;
	border-radius: .2em;
	background: $color-primary;
	color: #FFF;
	font-size: .75em;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .2em;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background-color: darken($color-primary, 10);
	}

	.icon {
		padding-right: 8px;
	}
}
.btn--delete {
	background-color: $color-danger;
	&:hover,
	&:focus,
	&:active {
		background-color: darken($color-danger, 10);
	}

}
.btn--save {
	background-color: $color-confirm;
	width: 100%;
	margin-top: 1em;
	@media all and (min-width: 42em) {
		margin-top: 0;
	}
	&:hover,
	&:focus,
	&:active {
		background-color: darken($color-confirm, 5)
	}
}

.action {
	border-top: 1px solid #DDD;
	padding: 1em 0;
}
.action--inline {
	overflow: hidden;
	@media all and (min-width: 42em) {
		text-align: right;
	}
	.btn {
		margin: 0 0 .5em 0;
		@media all and (min-width: 42em) {
			margin-left: .5em;
		}
		
	}
}