$color-primary: #2A90EE;
$color-text: #494949;
$color-bg: #f9f8f7;
$color-danger: #DD4A4A;
$color-confirm: #0AE484;
$color-tertiary: #DDD;
$color-tertiary-on: #AAA;

.invisible { 
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px; 
}
%clr {
	&:before,
	&:after {
	    content: " "; 
	    display: table;
	}
	&:after {
	    clear: both;
	}
}