@import "_vars.scss";
@import "_normalize.scss";
@import "_icons.scss";
@import "_typo.scss";
@import "_edit.scss";

html, 
body {
	background-color: $color-bg;
	min-height: 100%;
}
body {
	border-top: .5em solid $color-tertiary; 
}
.main-content {
	max-width: 42em;
	margin: 0 auto;
	padding: 1em;
}
.content {
	padding: 1em 0;
}
.header--app {
	border-bottom: 1px solid $color-tertiary;
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
}

.footer--app {
	padding: 2em 0;
	border-top: 1px solid $color-tertiary;
}
.detail--content {
	padding: 1em 0;
}
.note-list {
	list-style-type: none;
	padding: 0;
	margin: 0;  
}
.note-snippet {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
	margin: 0;
	border-bottom: 1px solid $color-tertiary;
	&:last-child {
		border-bottom: 0 none;
	}
}
.note__header {
	width: 65%;
}