<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Backbone Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

		<section id="main" class="main-content">
			<header class="header--app">
				<h1 class="heading--app">Note taking app</h1>
			</header>
			<!-- /.header app -->
			<div id="app" class="content"></div>
			<!-- /#app -->
		</section>
		<!-- /.main-content -->
		
		<script id="notes" type="text/template">
		<ol class="note__list">
			<% _.each(notes, function(note) { %>
			<li class="note-snippet">

				<a href="#/note/<%= note.get('id') %>" class="detail-link">
					<h2 class="heading--snippet"><%= note.get('title') %></h2>
				</a>
			
				<div class="snippet--content"><%= note.get('content') %></div>

				<p class="create-date--snippet"><%= note.get('createDate') %></p>

				<button class="btn--edit">Edit</button>
				<button class="btn--delete">Delete</button>
			
			</li>
			<% }); %>
		</ol>
			

		</script>

		<script id="note" type="text/template">

			<h2 class="heading--detail"><%= title %></h2>
			<p class="create-date--detail">Created: <%= createDate %></p>
			<% if (editDate === "") { %>
			<p class="edit-date--detail">Last updated: <%= createDate %></p>
			<% } else { %>
			<p class="edit-date--detail">Last updated: <%= editDate %></p>
			<% } %>
			<div class="detail--content"><%= content %></div>
			
			<button class="btn--edit">Edit</button>

			<button class="btn--delete">Delete</button>

		</script>

		<script id="noteEdit" type="text/template">

			<ul class="note__form">

				<li class="note__form__input">
					<label for="noteTitle" class="label">Title</label>
					<input type="text" id="noteTitle" class="input--txt">
				</li>

				<li class="note__form__input">
					<label for="noteContent" class="label">Whats up</label>
					<textarea id="noteContent" class="input--textarea"></textarea>
				</li>

			</ul>

			<div class="action">
				<button class="btn--save">Save</button>
			</div>

		</script>


		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="js/lib/backbone.localstorage-min.js"></script>
		<script src="js/lib/moment.min.js"></script>
		<script src="js/models/note.js"></script>
		<script src="js/collections/notes.js"></script>
		<script src="js/views/note-list.js"></script>
		<script src="js/views/note.js"></script>
		<script src="js/views/note-edit.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>

		<script>

	    // var Note = Backbone.Model.extend({
	    // });

		 // 	var Notes = Backbone.Collection.extend({
		 // 		model: Note,
		 // 		localStorage: new Backbone.LocalStorage('bbnote')
	  //   });
 			
			// var notes = new Notes;

		 	// var NoteListView = Backbone.View.extend({
		 	// 	el: "#app",
		 	// 	render: function() {
		 	// 		var that = this;
		 	// 		notes.fetch({
	   //        success: function (notes) {
	   //          var template = _.template($('#notes').html(), {notes: notes.models});
	   //          that.$el.html(template);
	   //        }
	   //      });
		 	// 	}
		 	// });

		 	// var noteListView = new NoteListView();

		 	// var NoteView = Backbone.View.extend({
		 	// 	el: "#app",
		 	// 	render: function(id) {
					
				// 	this.$el.html("");
			 // 			var template = _.template( $('#note').html() );
			 // 			var that = this;
			 // 			notes.fetch({
			 // 				success: function(notes) {
			 // 					var note = notes.get(id);
	 		// 					that.$el.html( template( note.toJSON() ) );
			 // 				}
			 // 			});
		 	// 	}
		 	// });

		 	// var noteView = new NoteView();

		 	// var Router = Backbone.Router.extend({
    //     routes: {
    //       "": "home",
    //       "note/:id": "note"
    //     }
	   //  });

	   //  var router = new Router;

	   //  router.on('route:home', function() {
	   //    noteListView.render();
	   //  })

	   //  router.on('route:note', function(id) {
	   //    noteView.render({id: id});
	   //  })

	   //  Backbone.history.start();


		</script>

	</body>
</html>