<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Backbone Notes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>

		<section id="main" class="main-content">
			<header class="header--app">
				<a href="/#note" class="header__icon detail-link">
					<span class="icon icon--write"></span>
					<span class="invisible">Write</span>
				</a>
				<a href="/" class="header__icon">
					<span class="icon icon--menu"></span>
					<span class="invisible">View all</span>
				</a>
			</header>
			<!-- /.header app -->

			<div id="app" class="content"></div>
			<!-- /#app -->

			<footer class="footer--app">
				
				<p>© 2014 | 
					A side project by <a href="http://matthew-jackson.com">matthewbeta</a>

					<a href="http://github.com/matthewbeta/backboneNote" class="social-link">
						<span class="icon icon--github"></span>
						<span class="invisible">Github</span>
					</a> 

					<a href="http://twitter.com/matthewbeta" class="social-link">
						<span class="icon icon--twitter"></span>
						<span class="invisible">Twitter</span>
					</a> 

				</p>

			</footer>
		</section>
		<!-- /.main-content -->


		<script id="noteSnippet" type="text/template">
			<header class="note__header">
				<a href="#" class="detail-link">
					<h2 class="heading--detail"><%= title %></h2>
				</a>
				
				<% if (editDate === "") { %>
				<p class="heading--byline">
					<span class="create-date--detail">Created: 
					<%= moment(createDate).fromNow() %>
					</span>
				</p>
				<% } else { %>
				<p class="heading--byline">
					<span class="create-date--detail">Created: 
						<%= moment(createDate).fromNow() %>
					</span> | 
					<span class="edit-date--detail">Last updated: 
						<%= moment(editDate).fromNow() %>
					</span>
				</p>
				
				<% } %>
			</header>
			<div class="action--inline">
				<a href="#" class="btn detail-link"><span class="icon icon--file"></span> Read</a>
				<a href="#" class="btn edit-link">
				<span class="icon icon--write"></span>Edit</a>
			</div>

		</script>

		<script id="note" type="text/template">
		<div class="note-snippet">

			<header class="note__header">
				<h2 class="heading--detail"><%= title %></h2>
				<p class="heading--byline">
					<span class="create-date--detail">Created: 
					<%= moment(createDate).fromNow() %></span>
					<% if (editDate !== "") { %> | 
					<span class="edit-date--detail">Last updated: 
						<%= moment(editDate).fromNow() %>
					</span>
					<% } %>
				</p>

			</header>
			<div class="action--inline">
					
				<div class="btn-group">
					<a href="#" class="btn btn--edit">
					<span class="icon icon--write"></span> Edit</a>
					<a href="#" class="btn btn--delete">
					<span class="icon icon--trash"></span> Delete</a>
				</div>

			</div>

		</div>
			

		<div class="detail--content">

			<% var converter = new Showdown.converter(); %>
			<%= converter.makeHtml(content) %>

			</div>
			
			<div class="action">
					
				<div class="btn-group">
					<a href="#" class="btn btn--edit">
					<span class="icon icon--write"></span> Edit</a>
					<a href="#" class="btn btn--delete">
					<span class="icon icon--trash"></span> Delete</a>
				</div>

			</div>

		</script>

		<script id="noteEdit" type="text/template">
			<form action="submit">

				<div class="note__input">
					<label for="noteContent" class="label heading--byline">Write</label>
					<textarea id="noteContent" class="input--textarea" autofocus="autofocus"><%= content %></textarea>
				</div>

				<div class="action">
					<div class="note__title">
						<label for="noteTitle" class="label heading--byline">Title</label>
						<input type="text" id="noteTitle" class="input--txt" value="<%= title %>" placeholder="Give it a title">
					</div>
					<div class="btn-group">
						<button type="submit" class=" btn btn--save">
							<span class="icon icon--save"></span> Save
						</button>
						<% if (typeof(id) != "undefined") { %>
						<button type="button" class=" btn btn--delete">
							<span class="icon icon--trash"></span> Delete
						</button>
						<% } %>
					</div>
				</div>

			</form>

		</script>

		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="js/lib/backbone.localStorage-min.js"></script>
		<script src="js/lib/moment.min.js"></script>
		<script src="js/lib/showdown.min.js"></script>
		<script src="js/lib/jquery.flexibleArea.js"></script>
		<script src="js/models/note.js"></script>
		<script src="js/collections/notes.js"></script>
		<script src="js/views/note-list.js"></script>
		<script src="js/views/note-snippet.js"></script>
		<script src="js/views/note.js"></script>
		<script src="js/views/note-edit.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/app.js"></script>

	</body>
</html>